.contact-container {
  a[href^="mailto:"] {
    font-weight: bold;
    text-decoration: none;
  }

  textarea, input {
    border-radius: 2px;
    display: block;
    width: 100%;
    border: 1px solid rgba(var(--theme-primary-color-rgb), 0.7);
    line-height: 1.5;
    padding: 0.5rem;
    margin-bottom: 2rem;
    color: rgba(var(--theme-primary-color-rgb), 1);
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 .2rem rgba(var(--theme-primary-color-rgb), 0.5);
    }
    &::placeholder {
      color: rgba(var(--theme-primary-color-rgb), 0.7);
    }
  }
  label {
    display: block;
    margin-bottom: 1rem;
    text-align: left;
  }

  button {
    color: var(--theme-accent-text-color);
    background-color: var(--theme-primary-color);
    width: 100%;
    max-width: 300px;
    display: block;
    padding: 0.5rem;
    line-height: 1.5rem;
    margin-right: auto;
    margin-left: auto;
  }
  form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .contact-container {
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .form-inline {
      flex: 0 1 49%;
    }
    .form-row {
      flex: 1 1 100%;
    }
  }
}
