.position-container {
    padding: 2rem;
}
.position-container ul {
    list-style: none;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;

}

.position-container ul li {
    margin-top: 0.7rem;
    position: relative;
    padding-left: 2rem;
}
.position-container ul li:before {
    content: '>';
    font-weight: bold;
    position: absolute;
    left:0;
    color: var(--theme-primary-color);
}

